/mysql-data/
wikidata/venv/
/venv/
/__pycache__/
/.idea/
/*.pyc
wikidata/venv/Lib/site-packages/isympy.py
api/__pycache__/main.cpython-313.pyc
api/__pycache__/apimodule.cpython-313.pyc

api/__pycache__/main.cpython-313.pyc
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20_v2.csv
api/data/upec_chemical_20_domain.json
api/data/upec_chemical_20.json
api/data/upec_chemical_20.json
wikidata/hal_field_audit_out/~$Wikidata_upec_Checked.xlsx
wikidata/__pycache__/

__pycache__/
*.pyc
*.pyo
*.pyd
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20_rev1.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_Checked.xlsx
wikidata/hal_field_audit_out/~$Wikidata_upec_chemical_20_rev1.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20_rev2.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20_rev3.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20 - copia.csv
wikidata/debug_scores_mode_civil2.csv
wikidata/debug_scores_mode_political.csv
wikidata/debug_scores_mode_ROM.xlsx
wikidata/debug_scores_mode_SETAR.xlsx
wikidata/debug_scores_mode_SOTA.xlsx
wikidata/debug_scores_mode_upec_chemical_20.csv
wikidata/debug_scores_mode_upec_civil_20_part2.csv
wikidata/debug_scores_mode_upec_civil_20.csv
wikidata/debug_scores_mode_upec_computer_20.csv
wikidata/debug_scores_mode_upec_marketing_20.csv
wikidata/debug_scores_mode_upec_political_20.csv
wikidata/debug_scores_mode_upec_v1.csv
wikidata/debug_scores_mode_upec_v3.csv
wikidata/debug_scores_mode_upec_v4 - copia.csv
wikidata/logreg_weights_final.csv
wikidata/logreg_weights_final_v4.csv
wikidata/logreg_weights_final_v3.csv
wikidata/link_qr.png
wikidata/learned_weights_upec.csv
wikidata/debug_scores_mode.csv
wikidata/debug_scores_mode_upec_y.csv
wikidata/debug_scores_mode_upec_y_v5.csv
wikidata/debug_scores_mode_upec_y_v3.csv
wikidata/debug_scores_mode_upec_y_v2.csv
wikidata/debug_scores_mode_upec_y_v.csv
wikidata/debug_scores_mode_upec_v4.csv
.gitignore
wikidata/hal_field_audit_out/Wikidata_upec_v3.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_v3.csv
wikidata/hal_field_audit_out/Wikidata_upec_v1.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_political_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_political_20_sp.csv
wikidata/hal_field_audit_out/Wikidata_upec_marketing_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_marketing_20_sp.csv
wikidata/hal_field_audit_out/Wikidata_upec_computer_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_computer_20_sp3.csv
wikidata/hal_field_audit_out/Wikidata_upec_computer_20_sp2.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_computer_20_sp.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20..csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20_sp.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20_sp_v2.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20_part2.csv
wikidata/hal_field_audit_out/Wikidata_upec_base.csv
wikidata/hal_field_audit_out/Wikidata_upec_Checked.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20_part2_sp.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20_part2_sp.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_civil_20_part2.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20_part2_sp2.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_computer_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_marketing_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_political_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_v4.csv
wikidata/hal_field_audit_out/Wikidata_upec_v4.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20.csv
wikidata/hal_field_audit_out/Wikidata_upec.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_political_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_marketing_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_computer_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_civil_20_part2.csv
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20.csv


wikidata/hal_field_audit_out


