/mysql-data/
wikidata/venv/
/venv/
/__pycache__/
/.idea/
/*.pyc
wikidata/venv/Lib/site-packages/isympy.py
api/__pycache__/main.cpython-313.pyc
api/__pycache__/apimodule.cpython-313.pyc

api/__pycache__/main.cpython-313.pyc
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20_v2.csv
api/data/upec_chemical_20_domain.json
api/data/upec_chemical_20.json
api/data/upec_chemical_20.json
wikidata/hal_field_audit_out/~$Wikidata_upec_Checked.xlsx
wikidata/__pycache__/

__pycache__/
*.pyc
*.pyo
*.pyd
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20_rev1.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_Checked.xlsx
wikidata/hal_field_audit_out/~$Wikidata_upec_chemical_20_rev1.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20.csv
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20_rev2.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20_rev3.xlsx
wikidata/hal_field_audit_out/Wikidata_upec_chemical_20 - copia.csv
